*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
}
body{
    background-color: rgb(13, 17, 23);
    /* background-image: linear-gradient(to top ,rgb(9, 60, 42),rgb(0, 0, 0)80%); */

}
nav{
    width: 100%;
    height:100px;
    display: flex;
    background-color: rgb(9, 60, 42);
    outline: 0.5px solid lightgray;
    padding-left: 30px;
}
nav .name{
    max-height: fit-content;
    width: fit-content;
    /* border:2px solid white; */
}
nav .name a,nav .name span{
    font-family: "Merienda", cursive;
    font-size: 180%;
    font-weight: 500;
    display: flex;
    background: linear-gradient(to right,rgb(136, 193, 207)50%,rgba(138, 193, 65, 0.304));
    background-clip:text;
    color: transparent;
    text-decoration: none;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    margin: -4px;
    &:hover{
        transition: 2ms;
    background-image: linear-gradient(to right,rgb(146, 254, 5),rgb(255, 0, 0));

    }
}
nav ul{
    display: flex;
    float: right;
    width: 90%;
    list-style: none;
    justify-content:right;
    align-items: center;
    gap: 35px;
    padding-right: 30px;
    list-style: none;
}
nav ul li{
    display: flex;  
    &:hover{
        transition: 0.3s;
        border-bottom: 1px solid darkgrey;
        /* transform: translateY(-4px); */
    }
}
nav ul li a{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    color: white;
    text-decoration: none;
    font-size: 170%;
    &:hover{
        /* color:lightgrey; */
    }
    
}

nav ul li .service{
    position: relative;
    display: inline-block;
}
nav ul li .service-content,nav ul li .therapist-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    z-index: 1;
    width: 140px;
    margin-right: 20px;
    font-size: 90%;
  
}

nav ul :nth-child(3):hover .service-content,nav ul :nth-child(5):hover .therapist-content{
    display: block;
    /* box-shadow: 0px 0px 2px 3px white; */
    a{
        color: black;
        &:hover{
            background-color:rgba(211, 211, 211, 0.445) ;
            
        }
    }

}
nav img{
    height: 80%;
    width: 25%;
    margin-top: 10px;
}


.login{
    display: flex;
    background-color: white;
    height: 54px;
    width: 125px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover{
        transform: scale(1.06);
        transition: 0.2s;
    }

}
.login a{
    align-items: center;
    height: 40px;
    width: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    font-weight: 600;
    color: black;
    border-radius: 15px;
    border-style: none;
    /* border: 2px solid rgb(13, 17, 23); */
    /* background-color: rgb(9, 60, 42); */
    /* box-shadow: 0px 0px 20px 4px whitesmoke; */
    &:hover{
        /* transform: scale(1.09); */
        transition: 0.2s;
        cursor: pointer;
        height: 41px;
        width: 103px;
    }
}
.hero-section{
    display: flex;
    margin: 40px ;
    text-align: start;
    justify-content: center;
    /* border: 2px solid white; */
}
.hero-section .content{
    margin: 40px;
}
.hero-section .content h1{
    margin: 20px 0px;
    font-size: 310%;
    font-weight: 600;

}
.hero-section .content h2{
    margin-bottom: 40px;
    font-size: 300%;
    font-weight: 400;
}
.hero-section .content p{
    font-size: 20px;

}
.hero-section .image img{
    height: 70%;
    width: 550px;
    margin: 55px;
    display: flex;
    /* padding-top: 80px; */
    /* padding-right: 80px; */
    /* box-shadow: 0px 0px 30px 2px whitesmoke; */
}
.hero-section .content input[type="button"]{
    height: 60px;
    width: 180px;
    font-size: 160%;
    font-weight: 400;
    color: white;
    border-radius: 15px;
    margin-top: 50px;
    border-style: none;
    border: 1px solid wheat;
    box-shadow: 0px 0px 4px 1px rgb(173, 171, 171);
    text-align: center;
    background-color: rgb(9, 60, 42);
    
    &:hover{
        /* transform: translate3D(-2px,-2px,2px); */
        /* height: 44px;
        width: 158px; */
        transition: 0.2s;
        background-color: rgba(11, 87, 60, 0.913);
        box-shadow: 0px 0px 12px 1px rgb(173, 171, 171);
        cursor: pointer;
    }
    /* background-color: rgb(13, 89, 61); */
}
.item-container{
    display: flex;
    width: 90%;
    /* border: 2px solid white; */
    justify-content:space-around;
    align-items: center;
    margin: 70px;   
    text-align: center;
    
}
.item-container .item {
    height: 500px;
    width: 30%;
    margin: 40px;
    /* display:inline-flex; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray; */
    box-shadow: 0px 0px 10px 2px grey;
    background-color: rgb(10, 12, 17);
    color: black;
    border-radius: 20px;
    &:hover{
        transition: 0.3s;
        transform: scale(1.05);
        background-color: rgb(9, 60, 42);
        box-shadow: 0px 0px 10px 10px black;
      
    }
}
.item-1 h2, .item-2 h2, .item-3 h2{
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    padding: 40px;
}
.item-1 p, .item-2 p, .item-3 p{
    font-size: 120%;
    text-align: center;
    padding: 20px;
}
.item-container button{
    /* color: white; */
    background-color: rgb(13, 17, 23);
    border-style: none;
    border: 2px solid rgba(255, 255, 255, 0.452);
    font-size: 15px;
    font-weight: 600%;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
     /* background-image: linear-gradient(to top,rgb(9, 60, 42),rgb(84, 166, 137)); */

    &:hover{
        transition: 0.2s;
        transform: scale(1.09);
        cursor: pointer;
        box-shadow: 0px 0px 9px white;
        border-style: none;
        /* background-color: rgb(9, 60, 42); */
        /* background-image: linear-gradient(red,yellow,black); */
        /* background-image: linear-gradient(to bottom,rgb(9, 60, 42),rgb(84, 166, 137)); */

        /* color: black; */
    }
    &:active{
        background-color: white;
        color: black;
        box-shadow: 0px 0px 20px black;

    }
}
.item-1 button{
    margin-top: 70px;
}
.item-2 button{
    margin-top: 175px;

}
.item-3 button{
    margin-top: 175px;
}
.footer{
    height: 450px;
    width: auto;
    background-color:rgb(9, 60, 42);
    padding-left: 70px;
    color: white;
    font-size: 110%;
}
.footer h2{
    font-size: 250%;
    padding-top: 50px;
    font-weight: 500;
    margin-bottom: 70px;
}
.footer h4{
    margin-top: 3px;
}
.footer .container{
    display:flex;
}
.footer .container .footer-items{
    height: 80%;
    width: 30%;
    padding-right: 50px;
}

.footer .container .footer-items p{
    padding-top: 15px;
    font-size: 90%;
}
.footer .container .footer-items a{
    color: white;
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
    font-size: 100%;
    &:hover{
        transition: 0.1s;
        opacity: 0.7;
        font-size: 100.5%;
    }
}
